[Unit]
Description=ODF2PDF Document Conversion server
After=syslog.target network.target

[Service]
User=root
Group=root
WorkingDirectory=/srv/odf2pdf
PIDFile=/var/run/odf2pdf.pid
EnvironmentFile=-/etc/default/odf2pdf
ExecStart=/srv/odf2pdf/odf2pdf
ExecReload=/bin/kill $(cat /var/run/odf2pdf.pid) && /srv/odf2pdf/odf2pdf
ExecStop=/bin/kill $(cat /var/run/odf2pdf.pid)

[Install]
WantedBy=multi-user.target
